# 混合端口 HTTP和SOCKS5用一个端口
mixed-port: 7890

# Linux 和 macOS 的 redir 代理端口 (如需使用此功能，请取消注释)
# redir-port: 7892

# Transparent proxy server port for Linux (TProxy TCP and TProxy UDP)
tproxy-port: 7893

geodata-mode: true         #【Meta专属】使用geoip.dat数据库(默认：false使用mmdb数据库)
tcp-concurrent: true         #【Meta专属】TCP连接并发，如果域名解析结果对应多个IP，
                             # 并发所有IP，选择握手最快的IP进行连接

# 允许局域网的连接（可用来共享代理）
allow-lan: true

bind-address: "*"
ipv6: true # 开启 IPv6 总开关，关闭阻断所有 IPv6 链接和屏蔽 DNS 请求 AAAA 记录

#  find-process-mode has 3 values:always, strict, off
#  - always, 开启，强制匹配所有进程
#  - strict, 默认，由 clash 判断是否开启
#  - off, 不匹配进程，推荐在路由器上使用此模式
find-process-mode: strict
# 规则模式：rule（规则） / global（全局代理）/ direct（全局直连）/ script (脚本)
mode: rule
#自定义 geodata url
geox-url:
  geoip: "https://cdn.jsdelivr.net/gh/Loyalsoldier/v2ray-rules-dat@release/geoip.dat"
  geosite: "https://cdn.jsdelivr.net/gh/Loyalsoldier/v2ray-rules-dat@release/geosite.dat"
  mmdb: "https://cdn.jsdelivr.net/gh/Loyalsoldier/geoip@release/Country.mmdb"
# 设置日志输出级别 (默认级别：silent，即不输出任何内容，以避免因日志内容过大而导致程序内存溢出）。
# 5 个级别：silent / error / warning / info / debug。级别越高日志输出量越大，越倾向于调试，若需要请自行开启。
log-level: debug

# Clash 的 RESTful API
external-controller: '127.0.0.1:7921'

# 实验性功能
experimental:
  ignore-resolve-fail: true # 忽略 DNS 解析失败，默认值为 true
  # interface-name: en0 # outbound interface name

# 全局 TLS 指纹，优先低于 proxy 内的 client-fingerprint
# 可选： "chrome","firefox","safari","ios","random","none" options.
# Utls is currently support TLS transport in TCP/grpc/WS/HTTP for VLESS/Vmess and trojan.
global-client-fingerprint: random

keep-alive-interval: 3600

profile: # 存储 select 选择记录
  store-selected: true
  # 持久化 fake-ip
  store-fake-ip: true
unified-delay: true # 更换延迟计算方式，去除握手等额外延迟
# DNS 分流支持 GeoSite
dns:
  enable: true # 是否启用dns false
  prefer-h3: true # 开启 DoH 支持 HTTP/3，将并发尝试
  ipv6: true
  listen: 0.0.0.0:53
  enhanced-mode: fake-ip       #DNS模式(redir-host/fake-ip)
                                     #【Meta专属】redir-host传递域名，可远程解析
  fake-ip-range: 198.18.0.1/16 #
  fake-ip-filter: # fake ip 白名单列表，如果你不知道这个参数的作用，请勿修改
     #LAN
     - '*.lan'
     - '*.localdomain'
     - '*.example'
     - '*.invalid'
     - '*.localhost'
     - '*.test'
     - '*.local'
     - '*.home.arpa'
     #放行NTP服务
     - time.*.com
     - time.*.gov
     - time.*.edu.cn
     - time.*.apple.com
     - time-ios.apple.com
     - time1.*.com
     - time2.*.com
     - time3.*.com
     - time4.*.com
     - time5.*.com
     - time6.*.com
     - time7.*.com
     - ntp.*.com
     - ntp1.*.com
     - ntp2.*.com
     - ntp3.*.com
     - ntp4.*.com
     - ntp5.*.com
     - ntp6.*.com
     - ntp7.*.com
     - '*.time.edu.cn'
     - '*.ntp.org.cn'
     - +.pool.ntp.org
     - time1.cloud.tencent.com
     #放行网易云音乐
     - music.163.com
     - '*.music.163.com'
     - '*.126.net'
#百度音乐
     - musicapi.taihe.com
     - music.taihe.com
#酷狗音乐
     - songsearch.kugou.com
     - trackercdn.kugou.com
#酷我音乐
     - '*.kuwo.cn'
#JOOX音乐
     - api-jooxtt.sanook.com
     - api.joox.com
     - joox.com
#QQ音乐
     - y.qq.com
     - '*.y.qq.com'
     - streamoc.music.tc.qq.com
     - mobileoc.music.tc.qq.com
     - isure.stream.qqmusic.qq.com
     - dl.stream.qqmusic.qq.com
     - aqqmusic.tc.qq.com
     - amobile.music.tc.qq.com
#虾米音乐
     - '*.xiami.com'
#咪咕音乐
     - '*.music.migu.cn'
     - music.migu.cn
#win10本地连接检测
     - +.msftconnecttest.com
     - +.msftncsi.com
#QQ登录
     - localhost.ptlogin2.qq.com
     - localhost.sec.qq.com
     - +.qq.com
     - +.tencent.com
#Game
#Steam
     - +.steamcontent.com
#Nintendo Switch
     - +.srv.nintendo.net
     - '*.n.n.srv.nintendo.net'
     - +.cdn.nintendo.net
#Sony PlayStation
     - +.stun.playstation.net
#Microsoft Xbox
     - xbox.*.*.microsoft.com
     - '*.*.xboxlive.com'
     - xbox.*.microsoft.com
     - xnotify.xboxlive.com
#Wotgame
     - +.battlenet.com.cn
     - +.wotgame.cn
     - +.wggames.cn
     - +.wowsgame.cn
     - +.wargaming.net
#Golang
     - proxy.golang.org
#STUN
     - stun.*.*
     - stun.*.*.*
     - +.stun.*.*
     - +.stun.*.*.*
     - +.stun.*.*.*.*
     - +.stun.*.*.*.*.*
#Linksys Router
     - heartbeat.belkin.com
     - '*.linksys.com'
     - '*.linksyssmartwifi.com'
#ASUS Router
     - '*.router.asus.com'
#Apple Software Update Service
     - mesu.apple.com
     - swscan.apple.com
     - swquery.apple.com
     - swdownload.apple.com
     - swcdn.apple.com
     - swdist.apple.com
#Google
     - lens.l.google.com
     - stun.l.google.com
     - na.b.g-tun.com
#Netflix
     - +.nflxvideo.net
#FinalFantasy XIV Worldwide Server & CN Server
     - '*.square-enix.com'
     - '*.finalfantasyxiv.com'
     - '*.ffxiv.com'
     - '*.ff14.sdo.com'
     - ff.dorado.sdo.com
#Bilibili
     - '*.mcdn.bilivideo.cn'
#Disney Plus
     - +.media.dssott.com
#shark007 Codecs 
     - shark007.net
#Mijia
     - Mijia Cloud
#Xiaomi
     - weatherapi.market.xiaomi.com
#招商银行
     - +.cmbchina.com
     - +.cmbimg.com
#AdGuard
     - adguardteam.github.io
     - adrules.top
     - anti-ad.net
     - local.adguard.org
     - static.adtidy.org
#迅雷
     - +.sandai.net
     - +.n0808.com
#T-mobile and Ultra Mobile wifi calling
     - +.3gppnetwork.org
#UU Plugin
     - +.uu.163.com
     - ps.res.netease.com
#向日葵远程控制
     - +.oray.com
     - WORKGROUP
  default-nameserver:
     - 'https://8.8.8.8/dns-query#♻️ 自动选择'
     - 'https://1.1.1.1/dns-query#♻️ 自动选择'
     - 'https://9.9.9.11/dns-query#♻️ 自动选择'
  proxy-server-nameserver:          #【Meta专属】解析代理服务器域名的dns           # 不写时用nameserver解析
     - https://1.1.1.1/dns-query
     - https://8.8.8.8/dns-query
     - https://9.9.9.11/dns-query
     - https://185.222.222.222/dns-query
     - tls://45.11.45.11
  nameserver-policy:
    "geosite:cn,private,apple": 
      - https://223.5.5.5/dns-query
      - https://1.12.12.12/dns-query
      - tls://223.6.6.6
      - tls://1.12.12.12
  nameserver:
     - 'https://9.9.9.11/dns-query#♻️ 自动选择'
     - 'https://185.222.222.222/dns-query#♻️ 自动选择'
     - 'https://1.1.1.1/dns-query#♻️ 自动选择'
     - 'https://8.8.8.8/dns-query#♻️ 自动选择'

  # fallback:
    #  - https://1.1.1.1/dns-query
    #  - https://8.8.8.8/dns-query
    #  - https://9.9.9.11/dns-query
    #  - https://185.222.222.222/dns-query
    #  - tls://1.0.0.1:853
    #  - tls://8.8.4.4:853
    #  - tls://9.9.9.9
    #  - tls://45.11.45.11

#   fallback-filter:                   #回落DNS服务器过滤
  #   geoip: true                      #为真时，不匹配为geoip规则的使用fallback返回结果
  #   geoip-code: CN                   #geoip匹配区域设定
  #   ipcidr:                          #列表中的ip使用fallback返回解析结果
    #   - 240.0.0.0/4
    #   - 127.0.0.1/32
    #   - 0.0.0.0/32
  #   domain:                          #列表中的域名使用fallback返回解析结果
    #   - '+.google.com'
    #   - '+.facebook.com'
    #   - '+.youtube.com'

  use-hosts: true

#ebpf配置
ebpf:
  auto-redir: # redirect 模式，仅支持 TCP
    - eth0
  redirect-to-tun: # UDP+TCP 使用该功能请勿启用 auto-route
    - eth0
    
sniffer:
  enable: true
  ## 对 redir-host 类型识别的流量进行强制嗅探
  ## 如：Tun、Redir 和 TProxy 并 DNS 为 redir-host 皆属于
  # force-dns-mapping: false
  ## 对所有未获取到域名的流量进行强制嗅探
  # parse-pure-ip: false
  # 是否使用嗅探结果作为实际访问，默认 true
  sniff: # TLS 默认如果不配置 ports 默认嗅探 443
    TLS:
      ports: [443, 8443]
    
    # 默认嗅探 80
    HTTP: # 需要嗅探的端口
      
      ports: [80, 8080-8880]
      # 可覆盖 sniffer.override-destination
      override-destination: true
  force-domain:
    - '+.netflix.com'
    - '+.nflxvideo.net'
    - '+.amazonaws.com'
    - '+.media.dssott.com'
    - '+.v2ex.com'
  # 对嗅探结果进行跳过
  skip-domain:
    - '+.apple.com'
    - Mijia Cloud
    - dlg.io.mi.com
  # 需要嗅探协议

# Clash for Windows
# Proxies module latency test settings
cfw-latency-timeout: 3000
cfw-latency-url: http://www.gstatic.com/generate_204

# 打断连接
# Identify strategy of breaking connections after switching to a new proxy/profile/mode
# Options for proxy: none, chain(proxy group in connection chains), all
# Options for profile: true, false
# Options for mode: true, false
cfw-conn-break-strategy:
  proxy: none # none/chain/all
  profile: true # true/false
  mode: false # true/false

# 自定义节点排序
# 可选参数：
#  default：按配置文件定义节点顺序
#  latency：按节点延迟升序排列
#  alphabet：按节点名称字母表排列
# Sort proxies in Proxies module by default/latency/alphabet
cfw-proxies-order: latency
